.bg-dark {
    font-size: 19px;
    background-color: #424242 !important;
}

.panel {
    background-color: #353436;
}

.active {
    background-color: #e7f8fc;
}

.help-btn {
    float: right;
    background-color: #262424;
    color: #f3fcff;
}

.help-btn:hover {
    background-color: #484646;
    color: #c3cdcc;
}

.results {
    color: #f3fcff;
    padding: 30px;
}

#editor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
